@charset "UTF-8";

body {
    background-color: lightskyblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}

h1{
    color: blue;
    background-color: cadetblue;
}

h2{
    color: rebeccapurple;
}